@media (min-width: 1200px) {
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}
  
@media (min-width: 1200px) {
  .title {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
}
 
@media (min-width: 1200px) {
  .search-bar-container {
    margin-bottom: 20px;
    width: 50%;
  }
}
 
@media (min-width: 1200px) {
  .search-bar-container input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }
}
 
@media (min-width: 1200px) {
  .main-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    width: 20%;
    padding: 10px;
    border-right: 1px solid #ddd;
  }
}

@media (min-width: 1200px) {
  .map-container {
    width: 75%;
    height: 500px;
  }
}
  